:root {
  --random-flips: 5;
}

.text-anim {
    color: #f35626;
	  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear;
	  -webkit-animation: hue 10s infinite linear;
}

#headerLine {
  display: inline-block;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  animation: rotation 1s var(--random-flips) ease;
  -webkit-animation: rotation 1s var(--random-flips) ease;
}

.marquee {
  white-space: nowrap;
  will-change: transform;
  display: inline-block;
  animation: marquee 5s linear infinite;
  -webkit-animation: marquee 5s linear infinite;
}

  .marquee span {
    animation-delay: 2.5s;
  }


@keyframes hue {
    from {
        filter: hue-rotate(0deg);
      }
      to {
        filter: hue-rotate(-360deg);
      }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@-webkit-keyframes marquee {
  from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(-50%); }
}

