/**lazyload**/

.lazy {
    background-image: none;
}

.loaded {
    animation: reveal .5s ease-in;
}

.image-hold {
    animation: slow-reveal .5s ease-in;
}

/*hold image-hold*/

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slow-reveal {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#masonryGrid>div>video {
    width: 100%;
    height: 100%;    
}

/*
Masonry Gallery Images
*/

#hcpp20 {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1601202392/hcpp20.jpg')
}

#discovery_bot {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1592206910/discovery_bot.jpg');
}

#ecko {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1592205217/Ecko.jpg');
}

#alone_together {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1592015739/alone_together_banner.png')
}

#lucky_royale {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1582802679/LuckyRoyale.jpg');
}

#threeSixDays_2 {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573618028/36days_2_nyxhl9.gif');
}

#threeSixDays_z {
    background-image: url('https://storage.googleapis.com/melvin-images/imgs/36days04_z_03.gif');
}

/* #threeSixDays_header {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573654869/36days_header.gif')
} */

#vac_logo {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1578989846/vac_logo.jpg');
}

#status_principles {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209992/status_principles.jpg');
}

#doThing2 {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209989/doThing_j3ib18.jpg');
}

#apollo {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573636269/apollo.gif');
}

#kiosked {
    background-image: url('https://storage.googleapis.com/melvin-images/imgs/proj-kiosked.jpg');
}

#switchdex_ui {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209997/switchdex_v1.jpg');
}

#switchdex_ui_v2 {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1577595226/switchdex-ui-v2.jpg');
}

#vac_ui {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1577634449/vac_ui.jpg');
}

#blockchainbrief {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209985/blockchain_brief.jpg');
}

#outclicks {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209990/outclicks.jpg');
}

#raccoon_suck {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209996/raccoon_suck_x6obkq.gif');
}

#kiosked_illustration {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209987/kiosked_illustration.jpg');
}

#dialpad_illus1 {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209984/dialpad_deskphone.jpg');
}

#dialpad_illus2 {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209984/dialpad_security.gif');
}

#dialpad_highfive {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209983/dialpad_highfive.gif');
}

#kimmy {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573210001/kimmy.gif');
}

#limewire {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209993/limewire_logo.jpg')
}

#bandsinbathroom {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209984/bandsinyourbathroom.jpg');
}

.melvin-img {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209986/melvin_alvarez_uphsnu.jpg');
}

#oblique {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209989/oblique_kqug8l.gif');
}

#dark_room {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209985/darkroom_bw5vms.jpg');
}

#floodkit {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1579014435/floodkit.gif');
}

#nolfam {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209993/nolfam.jpg');
}

#oblique {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1573209989/oblique.gif');
}

#warcycle {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1579083000/warcycle.gif');
}

#scottpilgrim {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1579074523/scottpilgrim.gif');
}

#supersecret {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1579151966/supersecret.gif');
}

#raulplancarte {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1579152104/raulplancarte.gif');
}

#snoozecat {
    background-image: url('https://res.cloudinary.com/dodok6plx/image/upload/v1579153634/snoozecat.jpg');
}