:root {
    /*Typography*/
    --body-font: 'DM Sans', sans-serif;
    --body-sub-font: 'DM Sans', sans-serif;
    --body-tiny-font: 'Lora', serif;
    --body-tiny-size: 0.6em;
    --body-font-size: 0.8em;
    --body-sub-font-size: 0.8em;
    --body-line-height: 1.2rem;
    --body-subheader-size: 1em;
    --header-font-size: 1.4em;
    --header-font: 'Lora', serif;
    --header-line-height: 1.2em;
    --body-spacing: 0.02em;
    --body-weight: 300;

    /*Colors*/
    --darkgray: #3F3F3F;
    --mediumgray: #C4C4C4;
    --lightgray: #F3F3F3;
    --gray-light: #E7E7E7;
    --blue: #0074B9;
    --bluegray: #B6C9D2;
    --bg-card: #384269;
    --white: #FFFFFF;
}


.element::-webkit-scrollbar { width: 0 !important }
.element { overflow: -moz-scrollbars-none; }
.element { -ms-overflow-style: none; }

html {
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: 1s opacity;
}

.container{
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

#sideHeader{
    display: none;
}

.active-gradient {
    color:#0074B9;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear;
    -webkit-animation: hue 10s infinite linear;
}

    #headerLine {
        border-bottom: 1px solid var(--mediumgray);
        position: relative;
        top: -14px;
    }

    #sideHeader h1 {
        margin-left: 20px;
        margin-top: 40px;
        width: 80%;
        font-weight: 400;
        font-size: 20px;
        font-family: var(--header-font);
        color: var(--bg-card);
    }

    #sideHeader h3 {
        font-family: var(--header-font);
        font-size: var(--header-font-size);
        line-height: var(--header-line-height);
        margin-left: 20px;
        margin-bottom: -4px;
        color: var(--bg-card);
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    #sideHeader ul>li {
        font-weight: 400;
    }

    .header-divider {
        width: 80%;
        margin: 14px 20px;
        height: 1px;
        background-color: var(--gray-light);
    }

    #mobileHeader{
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--bluegray);
    position: fixed;
    margin-bottom: 40px;
    background-color: #ffffff;
    padding: 10px;
    margin: 0 auto;
    z-index: 1;
}

    .collapse-header {
        height: 60px;
        transition: 0.2s ease-in;
    }

    .expand-header {
        height: 100%;
        transition: 0.2s ease-out;
    }

    .mobile-line {
        width: 60px;
        position: absolute;
        height: 1px;
        top: 58px;
        background-color: var(--bluegray);
    }

    .hidden {
        visibility: hidden;
    }

    .revealed {
        visibility: visible;
    }

        .works {
            width: 60px;
        }

        .resources {
            width: 26px;
        }

    #mobileHeader p {
        width: 50%;
        font-family: var(--header-font);
        font-size: var(--body-sub-font);
        color: var(--bg-card);
        margin-left: 18px;
    }

    #mobileHeader button {
        position: absolute;
        right: 30px;
        top: 18px;
    }

    #mobileMenu {
        display: block;
        width: 84%;
    }

        #mobileMenu h1 {
            font-family: var(--header-font);
            color: var(--bg-card);
            width: 68%;
            margin: auto;
            font-weight: 400;
            font-size: var(--header-font-size);
            padding: 20px;
        }

        #mobileMenu ul {
            list-style: none;
            padding-top: 20px;
            text-align: center;
        }

        #mobileMenu ul li {
            font-family: var(--header-font);
            font-size: var(--header-font-size);
            padding: 20px;
            border-bottom: 1px solid var(--lightgray);
            text-transform: uppercase;
        }

        #mobileMenu ul li a {
            text-decoration: none;
            color: var(--bg-card);
        }

    #aboutGrid {
        width: 84%;
        height: 100%;
        margin: 0 auto;
        overflow: scroll;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 10px;
        grid-auto-flow: dense;
        margin-top: 40px;
        grid-auto-rows: minmax(180px, auto);
        margin-top: 100px;
    }

        

    #resourceGrid,        
    #masonryGrid{
        width: 84%;
        height: 100%;
        margin: 0 auto;
        overflow: scroll;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 10px;
        grid-auto-flow: dense;
    }

        #masonryGrid {
            grid-auto-rows: minmax(180px, auto);
            margin-top: 100px;
        }

        #resourceGrid {
            grid-auto-rows: auto;
            margin-top: 100px;
        }

    .about-grid {
        padding: 0 0 0 0;
    }

    .resource-grid {
        grid-row-end: auto;
        margin-top: 0px;
        position: relative;
    }

    /* .melvin-img:nth-of-type(2),
    .melvin-img:nth-of-type(3) {
        display: none;
    } */

        .melvin-img {
            position: relative;
            width: 100%;
            height: 280px;
            margin: 0 auto;
        }

        .about-list {
            display: none;
        }

            .about-list>ul {
                margin-top: -6px;
            }

            .about-list>ul>li {
                padding-left: -4px;
            }

        .span-about {
            grid-column-end: span 2;
            grid-row-end: span 2;
            padding: 0 0 40px 0;
        }
    
            .span-about>h6 {
                color: var(--mediumgray);
                font-family: var(--header-font);
                font-size: 16px;
                text-transform: uppercase;
            }
    
                .span-about>h6:nth-of-type(2),
                .span-about>h6:nth-of-type(3),
                .span-about>h6:nth-of-type(4),
                .span-about>h6:nth-of-type(5) {
                    margin-top: -20px;
                }
    
            .span-about>p {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 1.3em;
                font-weight: var(--body-weight);
                line-height: 1.4em;
                color: var(--bg-card);
                width: 100%;
                margin-top: -20px;
            }

    .resource-grid>h4 {
        font-family: var(--body-font);
        font-size: var(--body-font-size);
        position: relative;
        margin-left: 40px;
        color: var(--bg-card);
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-weight:400;
    }

    .resource-header-line {
        height: 1px;
        width: 80%;
        background-color: var(--lightgray);
        position: relative;
        top: -10px;
        margin-left: 40px;
    }

    .about-item,        
    .resource-grid>ul {
        margin-left: 0px;
        list-style: none;
        position: relative;
        top: -24px;
    }

    #melvin-card {
        position: sticky;
    }

        .resource-grid>ul>li {
            font-family: var(--body-font);
            font-size: var(--body-font-size);
            color: var(--bg-card);
            padding: 4px;
        }
            .about-grid>ul>li::before,
            .resource-grid>ul>li::before {
                content: " • ";
                position: relative;
                left: -5px;
                color: var(--bluegray);
            }

        .resource-grid a {
            color: var(--bg-carddarkgray);
            letter-spacing: 0.02em;
            text-decoration: none;
            transition: 500ms color;
            font-weight: 100;
        }

        .resource-grid a:hover {
            color:#0074B9;
            background-image: -webkit-linear-gradient(45deg, #0074B9, #feab3a);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: hue 10s infinite linear;
            animation: hue 10s infinite linear;
            /* font-weight: 600;
            text-transform: uppercase; */
        }

    #resourceGrid::-webkit-scrollbar,
    #masonryGrid::-webkit-scrollbar {
        width: 0 !important;
    }

.grid-item {
    opacity: 1;
    font-size: var(--body-font-size);
    font-weight: bold;
    color: #929796;
    /* border: 1px solid #929796; */
    border-radius: 2px;
    grid-row-end: span 2;
}
   
    .span-wide {
        grid-column-end: span 1;
        grid-row-end: span 1;
    }

    .span-long {
        grid-column-end: span 1;
        grid-row-end: span 3;
    }

        .proj {
            /*overflow: hidden;*/
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: var(--bluegray);
        }

        .proj-about {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }


#sideBar{
    display: none;
}

/* About Bento*/

.flex-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

    .about-img {
        width: 280px;
        height: 480px;
        background-color: var(--mediumgray);
    }

    .about-info {
        width: 100%;
    }

    /* .about-info>p:nth-child(1),
    .about-info>p:nth-child(2) {
        font-family: var(--header-font);
        font-size: var(--header-font-size);
        color: var(--bg-card);
        width: 100%;
    } */

        .about-info>p{
            font-family: var(--header-font);
            font-size: var(--header-font-size);
            color: var(--bg-card);
            width: 100%;
        }

.about-card {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 8px;
    border: 1px solid var(--gray-light);
    border-radius: 8px;
    height:fit-content;
    width: 80%;
    min-width: 280px;
    flex-grow: 1;
}

.about-card>img {
    object-fit: fill;
}

    .about-card-details {
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: space-around;
    }

        .card-details-title {
            display: flex;
            flex-direction: column;
            gap: 0px;
        }

            .card-details-title>p, .about-card-details>p {
                margin-block-start: 0px;
                margin-block-end: 0px;
            }

        .card-body-tiny {
            font-family: var(--body-tiny-font);
            font-size: var(--body-tiny-size);
            color: var(--bg-card);
        }

        .card-heading {
            font-family: var(--header-font);
            font-size: var(--header-font-size);
            color: var(--bg-card);
        }

        .card-body {
            font-family: var(--body-font);
            font-size: var(--body-font-size);
            color: var(--bg-card);
        }

.about-hello {
    background: linear-gradient(135deg, rgba(255, 205, 247, 0.60) -0.64%, rgba(255, 251, 231, 0.60) 13.82%, rgba(255, 251, 231, 0.60) 34.72%, rgba(168, 234, 234, 0.60) 100%);
    border: 1px solid var(--stroke-gradient-100, #A8EAEA);
    border-radius: 8px;
    padding: 8px;
}

    .about-hello > h1 {
        font-size: calc(1em + 100%);
        text-transform: uppercase;
    }

/* styles*/

/* hamburger css - elastic animation */

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: var(--bluegray); }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 2px;
      background-color: var(--bluegray);
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      -webkit-transition-property: transform;
      transition-duration: 0.15s;
      -webkit-transition-duration: 0.15s;
      transition-timing-function: ease; 
      -webkit-transition-timing-function: ease;
    }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
  
  .hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    -webkit-transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .hamburger--elastic .hamburger-inner::before {
      top: 10px;
      transition: opacity 0.125s 0.275s ease;
      -webkit-transition: opacity 0.125s 0.275s ease;
    }
    .hamburger--elastic .hamburger-inner::after {
      top: 20px;
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
      -webkit-transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
  .hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
    -webkit-transition-delay: 0.075s;
    }
    .hamburger--elastic.is-active .hamburger-inner::before {
      transition-delay: 0s;
      -webkit-transition-delay: 0s;
      opacity: 0; }
    .hamburger--elastic.is-active .hamburger-inner::after {
      transform: translate3d(0, -20px, 0) rotate(-270deg);
      -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
      transition-delay: 0.075s; 
      -webkit-transition-delay: 0.075s;
    }