:root {
    /*Primitives*/

    /*Colors*/
    --darkgray: #9D9D9D;
    --mediumgray: #C4C4C4;
    --lightgray: #F3F3F3;
    --gray-light: #E7E7E7;
    --light-blue: #D4DAF5;
    --blue: #0074B9;
    --bluegray: #B6C9D2;
    --bg-card-lighter: #B7BEDB;
    --bg-card: #384269;
    --bg-darkblue: #1E2749;
    --white: #FFFFFF;
    --text-blue-lighter: #A8A9C7;

    --none: 0px;
    --xs: 4px;
    --s: 8px;
    --m: 12px;
    --l: 16px;
    --xl: 20px;
    --xxl: 24px;

    /*Typography*/
    --body-font: 'DM Sans', sans-serif;
    --body-sub-font: 'DM Mono', monospace;
    --body-tiny-font: 'Lora', serif;
    --body-tiny-size: 0.6em;
    --body-font-size: 0.8em;
    --body-sub-font-size: 0.8em;
    --body-line-height: 1.2rem;
    --body-subheader-size: 1em;
    --header-font-size: 1.4em;
    --header-font: 'Lora', serif;
    --header-line-height: 1.2em;
    --body-spacing: 0.02em;
    --body-weight: 300;

    /*Tokens*/


    
}


.element::-webkit-scrollbar { width: 0 !important }
.element { overflow: -moz-scrollbars-none; }
.element { -ms-overflow-style: none; }

html {
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: 1s opacity;
}

    i {
        font-family: var(--header-font);
        font-style: italic;
        font-weight: 500;
    }

    .hide {
        display: none !important;
    }

    .show-flex {
        display: flex;
    }

.container{
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}


#sideHeader{
    display: none;
}

#sideHeader>ul>li>a {
    transition: color 100ms;
}

.active-menu {
    border-top: 1px solid var(--bg-card) !important;
    border-bottom: 1px solid var(--bg-card) !important;
}

.active-gradient {
    color:#0074B9;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear;
    -webkit-animation: hue 10s infinite linear;
}

    #headerLine {
        border-bottom: 1px solid var(--mediumgray);
        position: relative;
        top: -14px;
    }

    #sideHeader h1 {
        margin-left: 20px;
        margin-top: 40px;
        width: 80%;
        font-weight: 400;
        font-size: 20px;
        font-family: var(--header-font);
        color: var(--bg-card);
    }

    #sideHeader h3 {
        font-family: var(--header-font);
        font-size: var(--header-font-size);
        line-height: var(--header-line-height);
        margin-left: 20px;
        margin-bottom: -4px;
        color: var(--bg-card);
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    #sideHeader ul>li {
        font-weight: 400;
    }

    #mobileHeader{
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--bluegray);
    position: fixed;
    margin-bottom: 40px;
    background-color: #ffffff;
    padding: 10px;
    margin: 0 auto;
    z-index: 1;
}

    .collapse-header {
        height: 60px;
        transition: 0.2s ease-in;
    }

    .expand-header {
        height: 100%;
        transition: 0.2s ease-out;
    }

    .mobile-line {
        width: 60px;
        position: absolute;
        height: 1px;
        top: 58px;
        background-color: var(--bluegray);
    }

    .display-none {
        display: none;
    }

    .hidden {
        visibility: hidden;
    }

    .revealed {
        visibility: visible;
    }

        .works {
            width: 60px;
        }

        .resources {
            width: 26px;
        }

    #mobileHeader p {
        width: 50%;
        font-family: var(--header-font);
        font-size: var(--body-sub-font);
        color: var(--bg-card);
        margin-left: 18px;
    }

    #mobileHeader button {
        position: absolute;
        right: 30px;
        top: 18px;
    }

    #mobileMenu {
        display: block;
        width: 84%;
    }

        #mobileMenu h1 {
            font-family: var(--header-font);
            color: var(--bg-card);
            width: 68%;
            margin: auto;
            font-weight: 400;
            font-size: var(--header-font-size);
            padding: 20px;
        }

        #mobileMenu ul {
            list-style: none;
            padding-top: 20px;
            text-align: center;
        }

        #mobileMenu ul li {
            font-family: var(--header-font);
            font-size: var(--header-font-size);
            padding: 20px;
            border-bottom: 1px solid var(--lightgray);
            text-transform: uppercase;
        }

        #mobileMenu ul li a {
            text-decoration: none;
            color: var(--bg-card);
        }

    #aboutGrid {
        width: 84%;
        height: 100%;
        margin: 0 auto;
        overflow: scroll;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 10px;
        grid-auto-flow: dense;
        margin-top: 40px;
        grid-auto-rows: minmax(180px, auto);
        margin-top: 100px;
    }

    /* add scroll margin on scroll to top*/
    .top-scroll {
        scroll-margin-top: 40px;
    }

        
    #processGrid,
    #resourceGrid,        
    #masonryGrid{
        height: 100%;
        margin: 0 auto;
        overflow: scroll;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-auto-flow: dense;
    }

        #masonryGrid {
            width: 84%;
            grid-auto-rows: minmax(180px, auto);
            margin-top: 100px;
            grid-gap: 10px;
        }

        #resourceGrid {
            width: 84%;
            grid-auto-rows: auto;
            margin-top: 140px;
            grid-gap: 10px;
        }

        #processGrid {
            width: 100%;
            top: 100px;
            position: relative;
            grid-gap: 0px;
        }

    .about-grid {
        padding: 0 0 0 0;
    }

    .resource-grid {
        grid-row-end: auto;
        margin-top: 0px;
        position: relative;
    }


        .melvin-img {
            position: relative;
            width: 100%;
            height: 280px;
            margin: 0 auto;
        }

        .about-list {
            display: none;
        }

            .about-list>ul {
                margin-top: -6px;
            }

            .about-list>ul>li {
                padding-left: -4px;
            }

        .span-about {
            grid-column-end: span 2;
            grid-row-end: span 2;
            padding: 0 0 40px 0;
        }
    
            .span-about>h6 {
                color: var(--mediumgray);
                font-family: var(--header-font);
                font-size: 16px;
                text-transform: uppercase;
            }
    
                .span-about>h6:nth-of-type(2),
                .span-about>h6:nth-of-type(3),
                .span-about>h6:nth-of-type(4),
                .span-about>h6:nth-of-type(5) {
                    margin-top: -20px;
                }
    
            .span-about>p {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 1.3em;
                font-weight: var(--body-weight);
                line-height: 1.4em;
                color: var(--bg-card);
                width: 100%;
                margin-top: -20px;
            }

    .resource-grid>h4 {
        font-family: var(--body-font);
        font-size: var(--body-font-size);
        position: relative;
        margin-left: 40px;
        color: var(--bg-card);
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-weight:400;
    }

    .resource-header-line {
        height: 1px;
        width: 80%;
        background-color: var(--lightgray);
        position: relative;
        top: -10px;
        margin-left: 40px;
    }

    .about-item,        
    .resource-grid>ul {
        margin-left: 0px;
        list-style: none;
        position: relative;
        top: -24px;
    }

    #melvin-card {
        position: sticky;
    }

        .resource-grid>ul>li {
            font-family: var(--body-font);
            font-size: var(--body-font-size);
            color: var(--bg-card);
            padding: 4px;
        }
            .about-grid>ul>li::before,
            .resource-grid>ul>li::before {
                content: " • ";
                position: relative;
                left: -5px;
                color: var(--bluegray);
            }

        .resource-grid a {
            color: var(--bg-carddarkgray);
            letter-spacing: 0.02em;
            text-decoration: none;
            transition: 500ms color;
            font-weight: 100;
        }

        .resource-grid a:hover {
            color:#0074B9;
            background-image: -webkit-linear-gradient(45deg, #0074B9, #feab3a);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: hue 10s infinite linear;
            animation: hue 10s infinite linear;
            /* font-weight: 600;
            text-transform: uppercase; */
        }

    #resourceGrid::-webkit-scrollbar,
    #masonryGrid::-webkit-scrollbar {
        width: 0 !important;
    }

.grid-item {
    opacity: 1;
    font-size: var(--body-font-size);
    font-weight: bold;
    color: var(--mediumgray);
    border-radius: 2px;
    grid-row-end: span 2;
}

    .grid-item:first-of-type {
        margin-top: 40px;
    }
   
    .span-wide {
        grid-column-end: span 1;
        grid-row-end: span 1;
    }

    .span-widest {
        flex-direction: column;
        grid-column-end: span 3;
        grid-row-end: span 2;
    }

    .span-long {
        grid-column-end: span 1;
        grid-row-end: span 3;
    }

        .proj {
            /*overflow: hidden;*/
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: var(--bluegray);
        }

        .proj-about {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }


#sideBar{
    display: none;
}

/*resource item cards*/

.resource-item {
    border: 1px solid var(--mediumgray);
    /* display: flex; */
    gap: 8px;
    cursor: pointer;
    height: fit-content
}

    .resource-item>.img {
        background-color: var(--bg-card-lighter);
        /* background: radial-gradient(var(--white), var(--bg-card)); */
        width: 40px;
        height: 40px;
    }

        .resource-item>.img>span {
            position: relative;
            left: 30%;
            top: 25%;
            z-index:inherit;
        }

.resource-name {
    display: flex;
    flex-direction: column;
    gap: var(--xs);
    justify-content: space-around;
    font-family: var(--header-font);
    font-weight: 400;
    color: var(--bg-card);
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    width: 280px;
    margin-left: -10px;
    padding-left: 10px;
}

/*Process Overview Items*/

.process-item {
    border: 1px solid var(--mediumgray);
    border-top-left-radius: var(--xs);
    border-top-right-radius: var(--xs);
    border-bottom-left-radius: var(--xs);
    border-bottom-right-radius: var(--xs);
    flex-direction: column;
    background-color: var(--lightgray);
}

.process-item>a>.process-img {
    object-fit: cover;
    background-color: var(--bluegray);
    width: 100%;
    height: 280px;
    border-top-left-radius: var(--xs);
    border-top-right-radius: var(--xs);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

    .process-name{
        display: flex;
        flex-direction: column;
        font-family: var(--header-font);
        font-size: 1.8em;
        line-height: 1.2em;
        font-weight: 400;
        color: var(--bg-card);
        text-decoration: none;
        cursor: pointer;
        width: 90%;
        padding: 12px 12px;
    }

    .process-tag {
        font-family: var(--body-font);
        font-size: 0.45em;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        color: var(--mediumgray);
        border: 1px solid var(--mediumgray);
        padding: 4px 8px;
        width: fit-content;
        border-radius: 4px;
        margin-top: 8px;
        line-height: 2em;
        display: inline;
        color: var(--bg-card);
        /* background-color: var(--white); */
    }

    .process-name>p {
        font-family: var(--body-font);
        color: var(--bg-card);
        font-size: 0.6em;
        line-height: 1.4em;
        font-weight: 400;
    }

/*Process Breadcrumbs*/

#processSubMenu {
    position: fixed;
    z-index: 1;
    top: 71px;
    background-color: var(--white);
    width: 100%;
    left: 0px;
    /* padding-left: 16px; */
    border-bottom: 1px solid var(--mediumgray);
}

.process-breadcrumb {
    font-family: var(--body-font);
    font-size: var(--body-sub-font-size);
    /* text-transform: uppercase; */
    color: var(--bg-card);
    margin-block-start: var(--xs);
    margin-block-end: var(--xs);
    text-align: center;
}

    .process-breadcrumb>a {
        font-family: inherit;
        text-decoration: none;
        color: var(--mediumgray);
        text-transform: uppercase;
        cursor: pointer;
    }

/*Resource filter*/

.filter-active {
    background-color: var(--light-blue) !important;
}

#resourceFilter {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8px;
    margin-top: -59px;
    left: 0px;
    background-color: var(--white);
    border-bottom: 1px solid var(--mediumgray);
    z-index: 1;
}

    .filter-option {
        font-family: var(--body-font);
        background-color: var(--white);
        border: 1px solid var(--mediumgray);
        border-radius: 4px;
        padding: 4px 8px;;
        font-size: 0.5em;
        color: var(--bg-card);
        font-weight: 500;
    }

/*Process Article Styles*/

.process-article-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    padding: 40px 0px;
    background: var(--bg-darkblue);
    justify-content: center;
    margin-top: 6px;
    grid-column-end: span 2;
    /* border-top-left-radius: var(--xs);
    border-top-right-radius: var(--xs); */
}

/*custom img bg*/

.honeypot-process-img {
    object-fit: contain !important;
    background-color: #3f525e !important;
}

.process-article-img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.process-article-title>h1 {
    font-family: var(--header-font);
    font-size: 1.8em;
    line-height: 1.2em;
    color: var(--white);
    font-weight: 400;
    width: 88%;
    margin: 0 auto;
    margin-block-end: 0px;
    text-align: center;
}

    .process-article-title>h4 {
        font-family: var(--body-sub-font);
        font-size: 0.6em;
        font-weight: 400;
        color: var(--text-blue-lighter);
        margin-block-end: 0;
        margin-block-start: 0.5em;
        border: 1px solid var(--text-blue-lighter);
        padding: 4px 16px;
        width: fit-content;
        border-radius: var(--xs);
        margin: 0 auto;
        text-transform: uppercase;
    }

    .article-title-overview {
        font-family: var(--body-font);
        font-size: 0.9em;
        line-height: 1.4em;
        color: var(--white);
        padding: 16px 0;
        margin: 0 auto;
        width: 88%;
        text-align: center;
    }

    .process-article-disclaimer {
        font-family: var(--header-font);
        font-size: 0.7em;
        font-style: italic;
        color: var(--text-blue-lighter);
        width: 88%;
        text-align: center;
        margin: 0 auto;
    }

    .process-article-body {
        background: var(--lightgray);
        padding: 40px 0;
    }

        .process-article-body>p {
            font-family: var(--body-font);
            font-size: 1em;
            color: var(--bg-card);
            font-weight: 400;
            width: 88%;
            margin: 0 auto;
            padding: 16px 0;
        }   

            .process-article-body>ul {
                color: var(--bg-card);
                width: 80%;
            }

            .process-article-body>ul>li {
                font-family: var(--body-font);
                font-size: 1em;
                color: var(--bg-card);
                padding: 4px 0;
            }

                .process-article-body>ul>li::marker {
                    content: '✴︎ ';
                    color: var(--bg-card);
                }


        .process-article-body>h2 {
            font-family: var(--header-font);
            font-size: 1.4em;
            color: var(--bg-card);
            font-weight: 400;
            width: 88%;
            margin: 0 auto;
        }

        .process-article-body>h4 {
            font-family: var(--body-sub-font);
            font-size: 0.6em;
            font-weight: 400;
            color: var(--bg-card);
            margin-block-end: 0;
            margin-block-start: 0.5em;
            width: 88%;
            margin: 0 auto;
            text-transform: uppercase;
        }

        .process-article-quote {
            width: 100%;
            background-color: var(--bg-darkblue);
            padding: 80px 0;
        }

        .process-article-quote>p {
            font-family: var(--header-font);
            font-size: 1em;
            font-weight: 400;
            color: var(--white);
            width: 88%;
            margin: 0 auto;
            text-indent: -0.3em;
            text-align: center;
        }

        .process-article-footer {
            background: var(--mediumgray);
            /* border-bottom-left-radius: var(--xs);
            border-bottom-right-radius: var(--xs); */
            padding: 40px 0;
        }

            .process-article-footer>h4 {
                font-family: var(--body-sub-font);
                font-size: 0.68em;
                color: var(--white);
                text-transform: uppercase;
                width: 88%;
                margin: 0 auto;
            }
    
            .process-article-footer>p {
                font-family: var(--header-font);
                font-size: 0.8em;
                line-height: 1.4em;
                color: var(--bg-card);
                padding: 16px 0;
                margin: 0 auto;
                width: 88%;
            }

/* About Bento*/

.flex-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

    .about-img {
        width: 280px;
        height: 480px;
        background-color: var(--mediumgray);
    }

    .about-info {
        width: 100%;
    }

        .about-info>p{
            font-family: var(--header-font);
            font-size: var(--header-font-size);
            color: var(--bg-card);
            width: 100%;
        }

/* styles*/

/* animate gradient */

@keyframes hue {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes hue {
	0% {
		-moz-background-position: 0% 50%;
	}
	50% {
		-moz-background-position: 100% 50%;
	}
	100% {
		-moz-background-position: 0% 50%;
	}
}

@-webkit-keyframes hue {
	0% {
		-webkit-background-position: 0% 50%;
	}
	50% {
		-webkit-background-position: 100% 50%;
	}
	100% {
		-webkit-background-position: 0% 50%;
	}
}

/* rotate sideheader menu active asterisk */

.anim-rotate {
    position: absolute;
    left: 216px;
    animation: spin 4s linear infinite;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
}

@keyframes spin { 100% 
    {-webkit-transform: rotate(360deg);
    transform: rotate(360deg);}
}

@-moz-keyframes spin { 100% 
    {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin { 100% 
    {-webkit-transform: rotate(360deg);}
}

/* hamburger css - elastic animation */

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: var(--bluegray); }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 2px;
      background-color: var(--bluegray);
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      -webkit-transition-property: transform;
      transition-duration: 0.15s;
      -webkit-transition-duration: 0.15s;
      transition-timing-function: ease; 
      -webkit-transition-timing-function: ease;
    }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
  
  .hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    -webkit-transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .hamburger--elastic .hamburger-inner::before {
      top: 10px;
      transition: opacity 0.125s 0.275s ease;
      -webkit-transition: opacity 0.125s 0.275s ease;
    }
    .hamburger--elastic .hamburger-inner::after {
      top: 20px;
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
      -webkit-transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
  .hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
    -webkit-transition-delay: 0.075s;
    }
    .hamburger--elastic.is-active .hamburger-inner::before {
      transition-delay: 0s;
      -webkit-transition-delay: 0s;
      opacity: 0; }
    .hamburger--elastic.is-active .hamburger-inner::after {
      transform: translate3d(0, -20px, 0) rotate(-270deg);
      -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
      transition-delay: 0.075s; 
      -webkit-transition-delay: 0.075s;
    }