:root {
 /*Colors, Transparency*/
    --background-color: #F9F9F9; /*#E5E5E5*/
    --copy-text-color: #3F3F3F;
};

/* Container
CSS Grid
*/

.container {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-areas: "header col1 col2 col3 col4 sidebar"
	"header col1 col2 col3 col4 sidebar"
	"header col1 col2 col3 col4 sidebar";
	grid-template-columns: 220px 1fr 1fr 1fr 1fr 80px;
	grid-template-rows: 1fr;
  }
  .container > div {
	border: 1px dashed #888;
  }
  
  .header {
	grid-area: header;
  }

  .col1 {
	grid-area: col1;
  }
  .col2 {
	grid-area: col2;
  }
  .col3 {
	grid-area: col3;
  }
  .col4 {
	grid-area: col4;
  }
  .sidebar {
	grid-area: sidebar;
  }